.container {
    max-width: 400px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

button {
    margin-left: 10px;
    color: red
}

nav {
    background-color: #f8f8f8;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}

section {
    margin: 40px 0;
    padding: 20px;
    border: 1px solid #ccc;
}
.project-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 200px; /* Adjust as needed */
}

.project-card img {
    width: 100%; /* Makes the image responsive */
    height: auto;
}